* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}



.center-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh; /* This will make sure the container takes the full height of the viewport */
  }
  
  .center-container img {
	max-width: 100%; 
	max-height: 100%; 
  }
  